<div class="container text-center title">
  <h1>Create Your Own Adventure</h1>
</div>
<br>
<div class="container text-center">
  <%= button_to "Play", all_games_path, method: "get", class: "btn btn-primary" %>
</div>
<br>
<br>
<br>
<div class="container text-center">
  <%= button_to "Create", new_game_path, method: "get", class: "btn btn-primary" %>
</div>
    