<div align="center"><img src="assets/door-e4ab07b5f3527eb45177fa3831d88262aa8e35e77bfa964139c4d09a99990264.jpg" class="background"></div>
<div class="cover"></div>
<div class="container text-center title">
  <h1 class="title">Create Your Own Adventure</h1>
</div>
<br>
<div class="container text-center">
  <%= button_to "Play", index_games_path, method: "get", class: "btn btn-warning" %>
</div>
<br>
<br>
<br>
<div class="container text-center">
  <%= button_to "Create", new_game_path, method: "get", class: "btn btn-warning" %>
</div>
    