<div>
  <h3>Your information</h3>
  Name: <%= @user.name %>
  <br>
  Email: <%= @user.email %>
</div>
<div>
  <h3>Your Games</h3>
  <% @games.each do |game| %>
      <% if current_user == game.user_id %>
        <li><%= link_to game.title, "/games/#{game.id}" %></li>
      <% end %>
  <% end %>
</div>
