<div>
  <h3>Create a New Adventure</h3>

    <div class="col-xs-1 col-xs-offset-4">
      <%= button_to "New", new_game_backstory_path, method: "get", class: "btn btn-primary" %>
    </div>
</div>
<br>
<div>
  <h3>Work on a Current Game</h3>
  <% @user.games.each do |game| %>
    <li><%= link_to game.title, "/games/#{game.id}" %></li>
  <% end %>
</div>